<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My JPA Proj</title>
</head>
<style>
    div {
        text-align: center;
    }
</style>
<body>
    <div style="width:90%;">
        <div class="img">
            <img style="width:35%" src="./../static/mailbox.jpg">
        </div>
        <div>
            <br />
            <br />
            <br />
            <br />
        </div>
        <div class="img" style="width:100%">
            <img style="width:100%"  src="./../static/mailresult.jpg">
        </div>
    </div>
</body>
</html>